<header>
    <h1>Universidade Estadual de Santa Cruz - UESC</h1>
</header>
<div class="divisao1">
    <section id ="menu" class="box">
        <div class="cabeçalho">Menu</div>
        <div class="div">
            <li>Centro de Pesquisas</li>
            <li>Graduação</li>
            <li>Projetos</li>
            <li>Laboratórios</li>
        </div>
    </section>

    <section id ="noticiasSection" class="box">    
        <div class="cabeçalho">Noticias</div>
        <div id="noticias" class="div">
        
        <div>
            
            <li>Uesc completa 32 anos de estadualização</li>
            <a href="https://www2.uesc.br/noticias/924/Uesc-completa-32-anos-de-estadualizacao">Link</a>
            <li>Sobre as Eleições para Reitoria Uesc</li>
            <a href="http://www.uesc.br/eleicao2024/">link 2</a>
            <li>Ameaças à Uesc </li>
            <a href="https://www2.uesc.br/noticias/917/Ameacas-a-Uesc">link3</a>
        </div> 
    

    <section id="destaques" class="box">
        <div class="cabeçalho">Destaques</div>
        <div class = "imagens">
            
            <img src="..\assets\seminariomat.png" alt="Destaque" height="100" width="100">
            <img src="..\assets\uescacontece.jpeg" alt="Destaque" height="100" width="100">
        </div>
    </section>
  
    
        <section id="servicosSection" class="box">
            <div class="cabeçalho">Serviços</div>
            <div id="servicos">

            </div>
        
            <p> 
                Universidade Estadual de santa Cruz -UESC - Desenvolvendo Potenciais, Construindo Futuros. 
    
                A Universidade UESC é uma instituição de ensino superior comprometida com a excelência acadêmica, a inovação e o desenvolvimento integral dos seus estudantes. Fundada em 1991, a universidade tem se destacado como um centro de referência em diversas áreas do conhecimento.
            </p>
        </section>
    

    <section id="resultados" class="box">
        <div class = "cabeçalho">Resultados</div> 
            <ul>
                <li>Pós-Graduação em Ciência Animal</li>
                <a href="https://www2.uesc.br/publicacoes/editais/arquivo/2023/11/215_2023.pdf">Link</a>
                <li>Mestrado em Química</li>
                <a href="https://www2.uesc.br/publicacoes/editais#4182">Link</a>
                <li>Genética e Biologia Molecular - Mestrado e Doutorado</li>
                <a href="https://www2.uesc.br/publicacoes/editais/arquivo/2023/11/215_2023.pdf">Link</a>
            </ul>
    </section>
</div> 
<footer>
<h3> 
    Arthur Gobira 
</h3>
</footer>