.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #007bff;
    background-color: white;
    padding: 5px; 
    margin: 40px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    height: 700px;
    width: 100%;
    text-transform: uppercase;
    font-family: Arial;
}

.subtotal-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px; 
    text-transform: uppercase;
    color: #007bff;
    font-family: Arial, sans-serif;
}

.subtotal-amount {
    color: #007bff;
    font-size: 20px; 
    padding-bottom: 30px;
}

.custom-btn {
    display: flex;
    font-weight: bold;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    padding: 5px; 
    margin: 10px;
    transition: background-color 0.3s ease;
    font-size: 15px; 
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    height: 30px;
}

.custom-btn:hover {
    opacity: 0.8;
    background-color: #230c8b; 
}
.img-fluid {
    display: flex;
    padding: 10px;
    margin: 10px;
}