img {
    width: 150px;
    height: 150px;
    align-self: center;
}

.botoesNav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    transition: transform 0.3s;
}

.botoesNav button:hover {
    transform: scale(1.1);
    background-color: #a5fe8d;
}

.botoesNav button {
    background-color: #a5fe8d;
    margin-bottom: 40px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.card-cadastro {
    width: 80%;
    max-width: 400px;
}

.form-container {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-field-full {
    width: 100%;
}

.error-message {
    color: rgb(0, 72, 255);
}

.enviar {
    transition: transform 0.3s;
    background-color: #a7b89c;
}

.enviar:hover {
    background-color: #aeab8d;
    transform: scale(1.1);
}

/* BEGIN: Web 3.0 Styles */

.botoesNav {
    gap: 10px;
}

.botoesNav button {
    background-color: #556b2f;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.botoesNav button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.title {
    font-size: 24px;
}

.conteiner {
    margin-bottom: 40px;
}

.card-cadastro {
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.form-group {
    margin-bottom: 30px;
}

.form-field-full {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.error-message {
    font-size: 14px;
}

.enviar {
    background-color: #556b2f;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.enviar:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

/* END: Web 3.0 Styles */
