
#menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.container {
    background: #fff;
    padding: 15px;
    margin-bottom: 10spx;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    color: #333;
    font-size: 15px;
}

.container1, .container2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

button {
    width: 200px;
    height: 100px;
    background-color: #00cec9;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600; 
    text-transform: uppercase; 
}

button:hover {
    background-color: #00b5b2;
}

.cadastroSuino {
    display: flex;
    align-items: center;
    background-color: #00cec9;
    margin-right: 40px;
    transition: transform 0.3s, background-color 0.3s;
    border-radius: 10px;
}

.cadastroSuino:hover {
    transform: scale(1.1);
    background-color: #00b5b2;
}

.cadastroSuino button {
    text-decoration: none;
    color: #15212a;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.container1 button,
.container2 button {
    margin-right: 10px;
}
