<section id="menu">
    <h1>MENU DE OPÇÕES </h1>
</section>

<div class="container">
    <div class="container1">
        <div class="cadastroSuino"> 
            <button  title="Clique aqui para cadastrar um suíno" routerLink="/cadastro-suinos" routerLinkActive="active">CADASTRO DE SUÍNOS</button>
        </div>
        <div class="cadastroSuino"> 
            <button  class="listagemSuino" title="Clique aqui para ver a listagem de suínos cadastrados" routerLink="/listar-suinos" routerLinkActive="active">LISTAGEM DE SUÍNOS</button>
        </div>
        <div class="cadastroSuino"> 
            <button  class="controlePeso" title="Clique aqui para acessar o controle de peso dos suínos" routerLink="/controle-pesos">CONTROLE DE PESO</button>
        </div>
        
    </div>
    <div class="container2">
        <div class="cadastroSuino"> 
            <button  class="cadastroPeso" title="Clique aqui para cadastrar um novo peso de suíno" routerLink="/cadastro-pesos">CADASTRO DE PESO</button>
        </div>
        <div class="cadastroSuino"> 
            <button  class="edicaoPeso" title="Clique aqui para editar o peso de um suíno cadastrado" routerLink="/editar-pesos">EDIÇÃO DE PESO</button>
        </div>
    </div>
</div>
