img {
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.loginimg {
    justify-content: center;
    background: white;
    height: 100%;
}

.container {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.conteudo-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-login {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-field-full {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-betarween;
    gap: 5px;
}

.align-right {
    margin-left: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 160px;
    height: 160px;
    margin-top: 30px;
    border-radius: 50%;

}
