div{
    padding: 10px;
}
button{
    border-radius: 10px;
    height: 50px;
    background-color: lightblue;
}
#Nome{
    background-color: rgb(192, 10, 162);
    color: white;
    font-weight: bolder;
}